h1{
    background-color:rgb(43, 43, 43);
    color: white;
    text-align: center;
    padding: 3vw;
    position: relative;
    margin: 0;
    margin-bottom: 10px;
}

html{
    background-color: rgb(226, 226, 226);
}

body,html {
    margin: 0;  
    padding: 0; 
    }

.conditioner{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    border:1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: white;
}

#controlBtn{
    margin-top: auto;
    width: 80%;
    height: 30px;
}

#mainContent{
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 60vw;
}

#settingBox{
    display: flex;
    align-items: center;
    flex-direction: column;
    border:1px solid gray;
    border-radius: 5px;
    padding:10px;
    width: 100%;
    background-color: white;
}

#midasi{
    border-bottom: 2px solid rgb(176, 42, 42);
    width: 60%;
    text-align: center;
    margin-bottom: 10px;
}

#form{
    display: flex;
    width: 80%;
}

input{
    width: 120%;
    height: 30px;
    font-size: 120%;
}

#addBtn{
    width: 20%;
}

#columns{
    width: 80%;
    margin-top:5px;
}

.roll{
    border: solid 1px gray;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    margin-top: 2px;
}

#slot{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border:solid 3px black;
    width: 80%;
    height: 70px;
    border-radius: 5px;
    margin: 10px;
}

#date{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}


@media screen and (width <= 1200px){
    #mainContent{
    width: 70vw;
}}

@media screen and (width <= 768px){
    #mainContent{
    width: 80vw;
}

}